window {
	background-color: transparent;
	border: none;
	border-radius: 16px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	margin: 0px;
	overflow: hidden;
	padding: 0;
	font-family: "JetBrains Mono";
	font-weight: bold;
	font-size: 16px;
}

#outer-box {
	background-color: #282828;
	border: 1px solid #d65d0e;
	border-radius: 16px;
	margin: 0px;
	padding: 15px;
}

#input {
	margin: 10px 5px;
	border: none;
	color: #ebdbb2;
	background-color: #1d2021;
	border-radius: 8px;
	padding: 8px 10px;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #282828;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #ebdbb2;
}

#entry {
	border-radius: 8px;
	margin: 3px 0;
	padding: 5px;
	transition: all 0.3s ease-out;
}

#entry:selected {
	background-color: #d65d0e;
	color: #ffffff;
	transition: background-color 0.3s ease, color 0.3s ease;
}

#entry:selected #text {
	color: #ffffff;
}